<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>About - RSCM</title>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" href="css/responsive.css">
    <link rel="icon" href="images/favicon.jpg" type="image/gif" />
    <link rel="stylesheet" href="css/jquery.mCustomScrollbar.min.css">
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/owl.theme.default.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Karla:500">
    <style>
        body {
            font-family: 'Karla';
            font-weight: 500;
        }
    </style>
</head>
<body>
   
    
    <div class="container" th:text="hello about page">
        <div class="row">
            <div class="col-md-8">
                <h1 class="services_taital">ABOUT US</h1>
                <p class="services_text" th:text="hello google"></p>
            </div>
            <div class="col-md-4">
                <img src="images/img-1.png" class="image_1">
            </div>
        </div>
    </div>
</body>
</html>
