<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <!-- basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>RSCM & Co.</title>
    <!-- CSS Links -->
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" href="css/responsive.css">
    <link rel="icon" href="images/favicon.jpg" type="image/gif" />
    <link rel="stylesheet" href="css/jquery.mCustomScrollbar.min.css">
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/owl.theme.default.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Karla:500">
    <style>
        body { font-family: 'Karla'; font-weight: 500; }
    </style>
</head>
<body>
    <!-- Header Section Start -->
    <div class="header_section">
        <div class="header_left">
            <div th:replace="navigation-bar :: navbar"></div>
            <div class="banner_main">
                <h1 class="banner_taital" style="font-size: 45px;" th:text="${DataForLoadIndexPage.companyHeading}"></h1>
                <h2>Empowering Business Solution</h2>
                <p class="banner_text" th:text="${DataForLoadIndexPage.companyIntro}"></p>
            </div>
        </div>
        <div class="header_right">
            <img src="images/banner-img.png" class="banner_img">
        </div>
    </div>
    <!-- Header Section End -->

    <!-- About Section Start -->
    <div class="services_section layout_padding">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <h1 class="services_taital" th:text="${DataForLoadIndexPage.companyWelcomeHeading}"></h1>
                    <p class="services_text" th:text="${DataForLoadIndexPage.companyShortDescription}"></p>
                </div>
                <div class="col-md-4">
                    <img src="images/img-1.png" class="image_1">
                </div>
            </div>
        </div>
    </div>
    <!-- About Section End -->

    <!-- Services Section Start -->
    <div class="what_we_do_section layout_padding">
        <div class="container">
            <h1 class="what_taital" th:text="${DataForLoadIndexPage.indexServiceHeading}"></h1>
            <div class="what_we_do_section_2">
                <div class="row">
                    <div class="col-lg-3 col-sm-6" th:each="service, i : ${DataForLoadIndexPage.services}">
                        <div class="box_main">
                            <div class="icon_1">
                                <img th:src="'images/icon-' + ${i.index + 1} + '.png'">
                            </div>
                            <h3 class="accounting_text" th:text="${service.heading}"></h3>
                            <p class="lorem_text" th:text="${service.description}" style="overflow: hidden; max-height: 100px; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; text-overflow: ellipsis;"></p>
                            <div class="moremore_bt_1">
                                <a href="services">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Services Section End -->

    <div th:replace="footer :: footer"></div>

    <!-- JavaScript Files -->
    <script src="js/jquery.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/jquery-3.0.0.min.js"></script>
    <script src="js/plugin.js"></script>
    <script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="js/custom.js"></script>
    <script src="js/owl.carousel.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>
</body>
</html>
