<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <!-- basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>RSCM & Co.</title>
    <!-- CSS Links -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
<link rel="stylesheet" th:href="@{/css/responsive.css}">
<link rel="icon" th:href="@{/images/favicon.jpg}" type="image/gif">
    <link rel="stylesheet" href="css/jquery.mCustomScrollbar.min.css">
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/owl.theme.default.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Karla:500">
    <style>
        body { font-family: 'Karla'; font-weight: 500; }
    </style>
</head>
<body>
     <h1>Welcome to RSCM</h1>
    <p th:text="${message}"></p> <!-- Model से Data दिखाएगा -->
    <!-- Header Section Start -->
    <div class="header_section">
        <div class="header_left">
            <div class="banner_main">
                <h1> world</h1>
                <p class="banner_text" th:text="'hello world hello from index page'"></p>
            </div>
        </div>
        <div class="header_right">
            <img th:src="@{/images/banner-img.png}" class="banner_img">
        </div>
    </div>
    <!-- Header Section End -->

</body>
</html>
